NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_WALRUS_EPOCHS=3
NEXT_PUBLIC_WALRUS_RELAY_TIP_MAX=10000000
NEXT_PUBLIC_TESTNET_FULLNODE=https://fullnode.testnet.sui.io:443
NEXT_PUBLIC_MAINNET_FULLNODE=https://fullnode.mainnet.sui.io:443
NEXT_PUBLIC_TESTNET_UPLOAD_RELAY=https://upload-relay.testnet.walrus.space
NEXT_PUBLIC_MAINNET_UPLOAD_RELAY=https://upload-relay.mainnet.walrus.space
NEXT_PUBLIC_TESTNET_AGGREGATOR=https://aggregator.testnet.walrus.space
NEXT_PUBLIC_MAINNET_AGGREGATOR=https://aggregator.mainnet.walrus.space
NEXT_PUBLIC_DEVELOPER_WALLET=0xbbc8f3deb39954974cd4556cd81579429ceb32d7a01d66570ce3d3d542c37b69
NEXT_PUBLIC_PROJECT_WEBSITE=https://github.com/dilongvv/walrus-decentralized-image-bed
NEXT_PUBLIC_PROJECT_GITHUB=https://github.com/dilongvv/walrus-decentralized-image-bed
NEXT_PUBLIC_DEVELOPER_SUINS=TBD
NEXT_PUBLIC_SUI_EXPLORER_BASE=https://suiexplorer.com
NEXT_PUBLIC_TESTNET_REGISTRY_PACKAGE_ID=0xc972d197b10609c95c77519244f0290e3b057e4c9dcbfcfb1ef75eadf3e1d82c
NEXT_PUBLIC_TESTNET_APP_PROFILE_ID=0x07e047f13d39cc83ef9bd6c06ab03fc039ecb244dc07aae06038f85ff4ea9914
NEXT_PUBLIC_TESTNET_ADMIN_CAP_ID=0x7c41382f85b8a5c73f1ece2575481ff66b04972733c4f78b373358b425c772ff
NEXT_PUBLIC_MAINNET_REGISTRY_PACKAGE_ID=0x01595e8774c136091eb12b6b12c0a363a62a53f3fcc028c34a25fffe7dcdb85d
NEXT_PUBLIC_MAINNET_APP_PROFILE_ID=0x9091fbc8163b16662883d5ef1daac136eca48d0aa00a6865dc6fa1eb7465bced
NEXT_PUBLIC_MAINNET_ADMIN_CAP_ID=0x5da346646c428e37e6c3fb5eaecc5318c04992516dc54e26b8ea6f02d34606ab
