NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_WALRUS_EPOCHS=3
NEXT_PUBLIC_TESTNET_FULLNODE=https://fullnode.testnet.sui.io:443
NEXT_PUBLIC_MAINNET_FULLNODE=https://fullnode.mainnet.sui.io:443
NEXT_PUBLIC_TESTNET_UPLOAD_RELAY=https://upload-relay.testnet.walrus.space
NEXT_PUBLIC_MAINNET_UPLOAD_RELAY=https://upload-relay.mainnet.walrus.space
NEXT_PUBLIC_TESTNET_AGGREGATOR=https://aggregator.testnet.walrus.space
NEXT_PUBLIC_MAINNET_AGGREGATOR=https://aggregator.mainnet.walrus.space
NEXT_PUBLIC_DEVELOPER_WALLET=0xbbc8f3deb39954974cd4556cd81579429ceb32d7a01d66570ce3d3d542c37b69
NEXT_PUBLIC_PROJECT_WEBSITE=TBD
NEXT_PUBLIC_PROJECT_GITHUB=TBD
NEXT_PUBLIC_DEVELOPER_SUINS=TBD
NEXT_PUBLIC_SUI_EXPLORER_BASE=https://suiexplorer.com
NEXT_PUBLIC_TESTNET_REGISTRY_PACKAGE_ID=
NEXT_PUBLIC_TESTNET_APP_PROFILE_ID=
NEXT_PUBLIC_TESTNET_ADMIN_CAP_ID=
NEXT_PUBLIC_MAINNET_REGISTRY_PACKAGE_ID=
NEXT_PUBLIC_MAINNET_APP_PROFILE_ID=
NEXT_PUBLIC_MAINNET_ADMIN_CAP_ID=
